<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

<div class="container">
    
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <h2 style="text-align: center;"class="fw-bold mb-5"><b style="color:rgba(116, 0, 205, 0.949)" >Login / Register<span class="req"><small style="color:rgba(116, 0, 205, 0.807)">
                        required *</small></span></b></h2>
                    <!--<legend class="text-center">Log In / Register <span class="req"><small>
                                required *</small></span></legend>!-->
                                <div class="form-outline mb-4">
                                    <label for="emailId"><span class="req">* </span> EmailID   </label>
                                    <input required type="text" [(ngModel)]="user.emailId" name="emailId" id="emailId"
                                        class="form-control phone"  placeholder="Enter your emailID to Login..." />
                                </div><br>
                                <div class="form-outline mb-4">
                                    <label for="password"><span class="req">* </span> Password : </label>
                                    <input class="form-control" type="text" [(ngModel)]="user.password" name="password" id="password"
                                        placeholder="Enter your password" required />
                                    <div id="errLast"></div>
                                </div>
                                <br>

                                <div class="form-outline mb-4">
                        <label for="Name"><span class="req">* </span> FirstName:  </label>
                        <input required type="text" [(ngModel)]="user.firstName" name="name" id="name"
                            class="form-control phone" maxlength="28" placeholder="Enter your firstname..." />
                    </div><br>
                    <div class="form-outline mb-4">
                        <label for="lastname"><span class="req">* </span> LastName: </label>
                        <input class="form-control" type="text" [(ngModel)]="user.lastName" name="lastname" id="lastname" required
                            placeholder="Enter lastName..." />
                        <div id="errFirst"></div>
                    </div><br>

                    <div class="form-outline mb-4">
                        <label for="role"><span class="req">* </span> Role : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.role" name="role" id="role"
                            placeholder="Enter your role" required />
                        <div id="errLast"></div>
                    </div><br>

                    <div class="form-outline mb-4">
                        <label for="mobileNo"><span class="req">* </span> Mobile_No : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.mobileNo" name="mobileNo" id="mobileNo"
                            placeholder="Enter your mobile No" required />
                        <div id="errLast"></div>
                    </div><br>

                    <div class="form-outline mb-4">
                        <label for="street"><span class="req">* </span> Street : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.street" name="street" id="street"
                            placeholder="Enter your street" required />
                        <div id="errLast"></div>
                    </div><br>
                    <div class="form-outline mb-4">
                        <label for="district"><span class="req">* </span> District : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.district" name="district" id="district"
                            placeholder="Enter your district" required />
                        <div id="errLast"></div>
                    </div><br>

                    <div class="form-outline mb-4">
                        <label for="state"><span class="req">* </span> State : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.state" name="state" id="state"
                            placeholder="Enter your state" required />
                        <div id="errLast"></div>
                    </div><br>

                    <div class="form-outline mb-4">
                        <label for="zipCode"><span class="req">* </span> ZipCode : </label>
                        <input class="form-control" type="text" [(ngModel)]="user.zipCode" name="zipCode" id="zipCode"
                            placeholder="Enter your zipCode" required />
                        <div id="errLast"></div>
                    </div><br>

                   


                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerUser()">
                    </div>
                </fieldset>
            </form>
            
        </div>

    </div>
</div> 

    
    




