<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

<div class="header">
    <h2>FoodDeliverySystem</h2>
    
  </div>
<!-- <div style="background-image: url('https://cdn.pixabay.com/photo/2015/01/31/05/05/background-618226__340.png');background-repeat: no-repeat;background-attachment: fixed; background-size: cover;"> -->
   
    <div class="row d-flex justify-content-center">
        <div class="col-lg-3" >
           <!--
           <br>
           <img style=" margin-top: 150px;"src="https://thumbs.dreamstime.com/b/hotel-round-design-template-line-icon-concept-vector-welcome-hotel-service-round-design-template-line-icon-concept-travel-106200329.jpg"/>
           </div> -->
         
           <nav class="navbar navbar-expand-sm navbar-da" >
               
           <!--style="background-color:black"-->
            <ul class = "navbar-nav">
                <button id="home"(click)="adminLogin()"> <i  class="bi bi-person"></i>Admin Login</button>
                <button id = "home" (click)="userLogin()"><i class="bi bi-person"></i>User Login</button><br><br>
                <a routerLink="/registerUser" routerLinkActive="active" class="nav-link" ><b style="color:mediumblue">Not a user yet?</b><b style="color: red;">Register now</b></a>

               <!-- <button id="home"(click)="userLogin()"> <i  class="bi bi-person"></i>User Login</button>
                <button id="home"(click)="contactUs()"> <i  class="fa fa-phone"></i>Contact us</button>
                <button id="home"(click)="aboutUs()"> <i  class="fa fa-phone"></i>About us</button>-->

            </ul>
        </nav>
    
          

       
   
